<footer class="footer">
  <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-1 col-md-3">
              <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
              {{ site.copyright }}
          </div>
          <div class="col-md-2">
            <a href="{{ "/fr/mentions-legales" | relative_url }}">Mentions légales</a>
          </div>
          <div class="col-md-offset-1 col-md-3">
              <a><i class="fa fa-linkedin fa-lg"></i></a>
              <a><i class="fa fa-facebook fa-lg"></i></a>
              <a><i class="fa fa-vimeo fa-lg"></i></a>
          </div>
        </div>
  </div>  
</footer>