<div id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="icon-reorder"></i>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: page.langue | prepend: '/' | relative_url }}">
          <img alt="Brand" src="{{ "img/LOGO_V2.png" | relative_url }}">
      </a>
  </div>
  <nav class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Black cog<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  {% if page.permalink contains '/fr/' %}
                  <li><a href="{{ "/compagnie" | prepend: page.langue | prepend: '/' | relative_url }}">Compagnie</a></li>
                  {% elsif page.permalink contains '/en/' %}
                  <li><a href="{{ "/compagnie" | prepend: page.langue | prepend: '/' | relative_url }}">Company</a></li>
                  {% endif %}
                  <li><a href="{{ "/services" | prepend: page.langue | prepend: '/' | relative_url }}">Services</a></li>
              </ul>
          </li>
          <li>
              {% if page.permalink contains '/fr/' %}
              <a href="{{ "/emplois" | prepend: page.langue | prepend: '/' | relative_url }}">Emplois</a>
              {% elsif page.permalink contains '/en/' %}
              <a href="{{ "/emplois" | prepend: page.langue | prepend: '/' | relative_url }}">Jobs</a>
              {% endif %}
            </li>
          <li>
              <a href="{{ "/contact" | prepend: page.langue | prepend: '/' | relative_url }}">Contact</a>
          </li>
      </ul>
      <ul class="nav navbar-nav">
          {% if page.permalink contains '/fr/' %}
          <li><a href="{{ page.permalink | replace_first: 'fr', 'en' | relative_url }}">EN</a></li>
          {% elsif page.permalink contains '/en/' %}
          <li><a href="{{ page.permalink | replace_first: 'en', 'fr' | relative_url }}">FR</a></li>
          {% endif %}
      </ul>
  </nav>
</div>
