<div class="smart-popin" id="{{ include.id }}">
    <div class="sp-table">
        <div class="sp-cell">
            <div class="sp-body">

                <a href="#" class="sp-close">×</a>

                <div class="swiper-container popin">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide" data-swiper-parallax="10%"><img src="{{ "/img/home/earth_1001_3_paul_0001.jpg" | relative_url }}" /></div>
                            <div class="swiper-slide" data-swiper-parallax="10%"><img src="{{ "img/home/TD_1002_1_Paul_0002.jpg" | relative_url }}" /></div>
                            <div class="swiper-slide" data-swiper-parallax="10%"><img src="{{ "img/home/MattHolubowskiClip_04.jpg" | relative_url }}" /></div>
                            <!--<div class="swiper-slide" data-swiper-parallax="10%"><img src="{{ "img/home/screen_track3D.jpg" | relative_url }}" /></div> -->
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                        
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        
                        <!-- If we need scrollbar -->
                        <div class="swiper-scrollbar"></div>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                <p>Vero saepe eius magnam iusto. Esse reiciendis sapiente quis </p>
                <p>consectetur, nostrum voluptas illum, ad tempora corporis </p>
                <p>deleniti voluptatum voluptates provident culpa nesciunt?­</p>

            </div>

            <a href="#" class="sp-back"></a>

        </div>
    </div>
</div>
