---
layout: default
---

<div id="wrapper" class="home">
  <div id="main-wrapper" class="col-md-12 pull-right">
      <div id="main">

          <div class="swiper-container home" id="background">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper" >
                  <!-- Slides -->
                  <div class="swiper-slide" data-swiper-parallax="10%"><img src="{{ "/img/home/earth_1001_2_paul_0001.jpg" | relative_url }}" /></div>
                  <div class="swiper-slide" data-swiper-parallax="10%"><img src="{{ "img/home/ballon-basket.jpg" | relative_url }}" /></div>
                  <!-- <div class="swiper-slide" data-swiper-parallax="10%"><img src="{{ "img/home/MattHolubowskiClip_02.jpg" | relative_url }}" /></div>
                  <div class="swiper-slide" data-swiper-parallax="10%"><img src="{{ "img/home/screen_track3D.jpg" | relative_url }}" /></div> -->
              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
              
              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              
              <!-- If we need scrollbar -->
              <div class="swiper-scrollbar"></div>
            </div>
                    
          <div id="news">
              <h2>Nos réalisations</h2>

              <div class="ih-item square effect6 top_to_bottom"><a href="#">
                  <div class="img"><img src="{{ "img/home/MattHolubowskiClip_02.jpg" | relative_url }}" alt="img"></div>
                  <div class="info">
                    <h3>Heading here</h3>
                    <p>Description goes here</p>
              </div></a></div>
                  
              <div class="ih-item square effect6 top_to_bottom"><a href="#">
                  <div class="img"><img src="{{ "img/home/magneto_01.jpg" | relative_url }}" alt="img"></div>
                  <div class="info">
                      <h3>Heading here</h3>
                      <p>Description goes here</p>
              </div></a></div>
                          
              <div class="ih-item square effect6 top_to_bottom"><a href="#">
                  <div class="img"><img src="{{ "img/home/screen_track3D.jpg" | relative_url }}" alt="img"></div>
                  <div class="info">
                      <h3>Heading here</h3>
                      <p>Description goes here</p>
              </div></a></div>
                      
              <div class="ih-item square effect6 top_to_bottom"><a href="#">
                  <div class="img"><img src="{{ "img/test/4.jpg" | relative_url }}" alt="img"></div>
                  <div class="info">
                      <h3>Heading here</h3>
                      <p>Description goes here</p>
              </div></a></div>
          
          </div>

        </div>
      </div>
    </div>
